<h1>👽</h1>
<h3>Welcome dear <%= @user.username %> !</h3> <br>
<h5>Congrats ! <br>
You have just stepped in the marvellous world of role play with movie fans !</h5>
<br>
<p>To go back home, please click <a href="<%= home_path %>">here</a></p>
